html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: rgba(0, 255, 255, 0.15); */
  background-color: rgba(127, 255, 212, 0.15);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
