.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  /* display: grid; */
}

.container p {
  margin: 1.5rem 0;
}

.card {
  max-width: 60rem;
  box-shadow: -10px 10px 80px rgba(255, 255, 255, 0.1);
  border: 1px solid #333;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 auto;
}

.inlineCode {
  color: #be00ff;
  font-size: 16px;
  white-space: pre-wrap;
}

.inlineCode::before,
.inlineCode::after {
  content: "`";
}

.hr {
  border: 0;
  border-top: 1px solid #333;
  margin: 1.5rem 0;
}

.bgWrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* max-width: 1366px; */
  max-height: 500px;
  text-align: center;
  overflow: hidden;
  /* z-index: 0; */
  border-radius: 6px;
  /* top: 80px; */
}

.bgText {
  top: 0px;
  position: absolute;
  z-index: 10;
  margin: 0;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: left;
  max-width: 1366px;
  padding: 90px 660px 0 150px;
  text-shadow: 0px 0px 1px #999;
  color: whitesmoke;
}

.btn {
  border: none;
  /* background-color: #23d600; */
  background-color: aquamarine;
  padding: 12px;
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
